@import "tailwindcss";

@theme {
  --color-brand-50: #EEF2FB;
  --color-brand-100: #D6E0F5;
  --color-brand-500: #27489D;
  --color-brand-600: #213D87;
  --color-brand-700: #1B3270;
  --color-brand-900: #14264F;

  --color-sky-100: #E0F2FE;
  --color-sky-300: #7DD3FC;
  --color-sky-500: #38BDF8;
  --color-sky-600: #0EA5E9;
  --color-primary: #27489D;
  --color-primary-dark: #14264F;
  --color-primary-light: #EEF2FB;

  --color-secondary: #38BDF8;
  --color-secondary-light: #E0F2FE;


  --font-heading: var(--font-manrope);
  --font-sans: var(--font-manrope);
}

body {
  background-color: #FFFFFF;
}